/* ОБЩИЕ ГЛАВНОЙ */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
    
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1366px;
    height: 800px;
    margin: 0 auto;
    background: #eee;
}
/* ШАПКА ГЛАВНОЙ */
header {
    position: relative;
    height: 800px;
    padding-left: 98px;
    background-image: url('img/slider.jpg');
}
.logo {
    margin-top: 63px;
}
.menu {
    float: right;
    margin: 67px 211px;
}
.menu li{
    float: left;
    list-style-type: none;

}
.menu li a {
    text-decoration: none;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    display: block;
    padding: 0 15px 10px;
}
.menu li a:hover {
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}
.slider_content {
    margin-top: 288px;
    width: 458px;
}
.slider_content h3 {
    color:  #43a047;
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 22px;
    line-height: 48px;
}
.slider_content h1 {
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    margin: 0px;
    margin-bottom: 34px;
    line-height: 72px;
}
.slider_content p {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 32px;
    line-height: 24px;
}
.order_us {
    display: block;
    background:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 23px;
    text-align: center;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
}
.order_us:hover {
    background:  #ffffff url('img/arrow.png') no-repeat 173px 17px;
} 
.slider_nav {
    position: absolute;
    top: 741px;
    left: 623px;
}
.slider_nav a,
.slider_nav_hot a {
    display: block;
    border-radius: 50%;
    float: left;
}
.slider_left {
    background-color:  rgba(33, 33, 33, 0.2);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
}
.slider_center {
    background-color:  #212121;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.slider_right {
    background-color:  rgba(33, 33, 33, 0.2);
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.slider_right:hover,
.slider_left:hover {
    background-color:  #212121;
}
.slider_center:hover {
    width: 42px;
    height: 42px;
    margin-right: 9px;
    margin-left: -1px;
}
/* КОНТЕНТ */
.Featured {
    margin: 0 0 0 98px;
    padding: 0px;
}
.Featured li{
    float: left;
    list-style-type: none; 
    border-bottom: 1px solid grey;
    margin-top: 120px;
    
}
.Featured li a {
    text-decoration: none;
    color:  #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    display: block;
    padding: 0 15px 21px;
}
.Featured li a:hover {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 18px;
    border-bottom: 3px solid #212121;
}
.explore_all {
    display: block;
    float: right;
    width: 148px;
    height: 13px;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 12px;
    margin-right: 97px;
    margin-top: 138px; 
}
.explore_all:hover {
    background: url('img/arrow.png') no-repeat 140px 0px;
}
.tab-content {
    display: inline-block;
    clear: both;
    padding: 50px 98px;
}
.tab-content > div:hover .back {
    display: block;
}
.product {
    width: 268px;
    height: 268px;
    float:left;
    margin-right: 30px;
}
.product1 {
    background: url('img/product-1.jpg');
}
.product2 {
    background: url('img/product-2.jpg');
}
.product3 {
    background: url('img/product-3.jpg');
}
.product4 {
    background: url('img/product-4.jpg');
    margin-right: 0px;
}
.back {
    display: none;
    opacity: 0.9;
    background-color:  #ffffff;
    outline: 1px solid #9c9c9c;
    width: 268px;
    height: 268px;
    text-align: center;
}
.back_arrow {
    display: inline-block;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    margin-top: 62px;
    margin-bottom: 19px;
}
.back_arrow img {
    display: inline-block;
    height: 20px;
    width: 12px;
    margin-top: 14px;
}
.back h2 {
    color:  #212121;
    font-size: 21.91px;
    font-weight: 700;
    transform: scaleX(1.0041);
    margin: 0 0 23px 0;
}
.back p {
    display: inline-block;
    color:  #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    text-align: center;
    transform: scaleX(1.0041);
    width: 210px;
    margin: 0px;
}
/*ПРОМО*/
.promo1,
.promo2 {
    display: inline-block;
    width: 632px;
    height: 455px;
    float: left;
    padding-top: 228px;
    padding-left: 51px;
}
.promo1 {
    background: url(img/promo-img1.jpg)
}
.promo2 {
    background: url(img/promo-img.jpg)
}
.exclusive {
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 18px 0;
}
.promo_content h2,
.exclusive-product h2 {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 24px 0;
}
.promo_content p,
.exclusive-product p {
    width: 384px;
    color:  #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    transform: scaleY(1.0022);
    margin: 0 0 34px 0;
}
/*ТРЕНДЫ*/
.trending-products {
    clear: both;
    padding-left: 98px;
}
.trending-products h2 {
    float: left;
    margin: 119px 0 0 0;
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
}
.trending-products_content {
    clear: both;
    display: inline-block;
    padding: 34px 0 0 0;
}
.trending-products_content img {
    display: block;
    float: left;
    margin-top: 30px;
    margin-right: 30px;
}
.trending-products_content img:nth-child(3n) {
    margin-right: 0px;
}
/*ГОРЯЧИЕ ПРЕДЛОЖЕНИЯ */
.hot-deals {
    background-image: url(img/slider_hot.jpg);
    margin-top: 120px;
    height: 800px;
}
.hot-deals_content {
    padding-top: 287px;
    padding-left: 99px;

}
.hot-deals_content h3 {
    color:  #e53935;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 22px 0;
}
.hot-deals_content h1 {
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    margin: 0 0 34px 0;
}
.hot-deals_content p {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 468px;
    margin: 0 0 32px 0;
}
.slider_nav_hot {
    display: inline-block;
    margin-top: 180px;
    margin-left: 623px;
}
.exclusive-product {
    padding-top: 120px;
    padding-left: 98px;
    display: inline-block;
}
.product-1-lg {
    background-image: url(img/product-1-lg.jpg);
    width: 539px;
    height: 384px;
    padding-top: 186px;
    padding-left: 31px;
    float: left;
}
.exclusive-product p{
    width: 342px;
}
.exclusive-product img {
    display: block;
    float: left;
    margin-left: 30px;
    padding-bottom: 30px;
}
.mobile-app {
    background-image: url(img/back-img.jpg);
    height: 391px;
    width: 1267px;
    margin-top: 90px;
    padding-top: 125px;
    padding-left: 99px;
    clear: both;
}
.mobile-app h2 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 22px 0;
}
.mobile-app h1 {
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    margin: 7px 0 26px 0;
    width: 500px;
}
.mobile-app p {
    color:  #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 33px 0;  
}
footer {
    background-color:  #f7f7f7;
    width: 1267px;
    height: 264px;
    padding-top: 120px;
    padding-left: 99px;
}
.contact_as {
    width: 221px;
    float: left;
    padding-right: 80px;
}
footer h3 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 24px 0; 
}
footer p {
    color:  #212121;
    font-size: 14px;
    font-weight: 300;
    margin: 0px;
    line-height: 22px;
}
.contact_as a {
    text-decoration: none;
    margin: 0px;
    color:  #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.contact_as a:hover {
    border-bottom: 1px solid grey;
}
.useful_info {
    float: left;
}
.useful_info li {
    list-style-type: none;
}
.useful_info ul {
    padding: 0px;
    float: left;
    margin: 0px;
    padding-right: 80px;
}
.useful_info a {
    text-decoration: none;
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}
.suscribe {
    width: 370px;
    float: left;
}
.email {
    border: 1px solid #d9dee1;
    background-color:  #ffffff;
    width: 349px;
    height: 46px;
    margin-top: 26px;

}
.suscribe input[type="email"] {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-left: 19px;
    width: 290px;
    height: 44px;
    border: none; 
}
.suscribe input[type="email"]:focus {
    outline: none;
}
.suscribe input[type="submit"] {
    width: 21px;
    height: 17px;
    border: none;
    background: url(img/contact%20us.png) no-repeat 50% 50%;
}
.copyright {
    clear: both;
    display: inline-block;
    margin-top: 39px;
}
.copyright p {
    display: inline-block;
    color:  #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    margin: 0px;
}
.copyright img {
    display: inline-block;
    margin-left: 158px;
    margin-right: 172px;
}